name: init-python

on:
  push:

jobs:
  build:
    runs-on: windows-latest

    # Release作成に必要
    permissions:
      contents: write

    steps:
      - name: Check out code
        uses: actions/checkout@v5

      - name: Python Embeddable Download
        run: Invoke-WebRequest -Uri https://www.python.org/ftp/python/3.13.7/python-3.13.7-embed-amd64.zip -OutFile Python.zip

      - name: Python Embeddable Setup
        run: |
          Expand-Archive .\Python.zip -DestinationPath .\Python\
          (Get-Content .\Python\Python313._pth) -replace '#import site', 'import site' | Set-Content .\Python\Python313._pth

          Invoke-WebRequest -Uri https://bootstrap.pypa.io/get-pip.py -OutFile .\Python\get-pip.py
          .\Python\Python.exe .\Python\get-pip.py
          .\Python\Python.exe -m pip install -U pip

      - name: Python Embeddable Setup Dependencies
        run: |
          .\Python\Python.exe -m pip install polars

      - name: Compress Python
        run: Compress-Archive -Path .\Python\* -DestinationPath .\Python_Embeddable.zip

      - name: Update Release (always update latest release)
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest
          name: Python Embeddable
          body: |
            ## Python Embeddable

            - **Python Version**: 3.13.7
            - **Package Manager**: pip
            - **Added Package**: -
            - **Build Date**: ${{ github.event.head_commit.timestamp }}
            - **Commit**: ${{ github.sha }}

            *This release is automatically updated on every push*
          files: |
            ./Python_Embeddable.zip
          make_latest: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
